#center {
  text-align: center;
}
h5 {
  padding-left: 1rem;
  color: lightslategray;
  font-family: Arial, Helvetica, sans-serif;
}
h6 {
  padding-left: 1rem;
  color: rgba(119, 136, 153, 0.699);
}
p {
  color: rgb(165, 165, 165);
  font-size: small;
  text-align: center;
}
hr {
  border-color: #e0e7ed;
}
h3 {
  color: whitesmoke;
  text-align: center;
}
.line {
  border-left: 1px solid grey;
}
